@model IEnumerable<Domain.Entities.Facture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                    Rechercher par prix: @Html.TextBox("prix")
                </div>
            </td>
            <td>
                <div>
                    Rechercher par nom du produit: @Html.TextBox("name")
                </div>
            </td>
            <td>
                <input type="submit" value="Rechercher" id="submit" />
            </td>
        </tr>
    </table>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Client.Nom)*@

            @Html.ActionLink(linkText: item.Client.Prenom, actionName: "InfoClient", controllerName: "Clients",
routeValues: new { id = item.Client.CIN}, htmlAttributes: null)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Product.Name)*@
            @Html.ActionLink(linkText: item.Product.Name, actionName: "_Details", controllerName: "Products",
routeValues: new { id = item.Product.ProductId }, htmlAttributes: null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  ProductId=item.ProductId,ClientId=item.ClientId,DateDachat=item.DateAchat }) |
            @Html.ActionLink("Details", "Details", new { ProductId = item.ProductId, ClientId = item.ClientId, DateDachat = item.DateAchat } )|
            @Html.ActionLink("Delete", "Delete", new { ProductId = item.ProductId, ClientId = item.ClientId, DateDachat = item.DateAchat })
        </td>
    </tr>
}

</table>
